# Por favor tente resolver o desafio sozinho, não pegue atalhos, tu consegue, é só colocar a cabeça para funcionar.

Execute a célula abaixo apenas uma vez.

In [1]:
%%bash

rm -rf /tmp/github; mkdir -p /tmp/github; cd /tmp/github
git clone https://github.com/romeritomorais/30-day-challenges-with-sql.git
sh /tmp/github/30-day-challenges-with-sql/challenges/utils/install-miniconda.sh > /dev/null 2>&1
sh /tmp/github/30-day-challenges-with-sql/challenges/utils/update-miniconda.sh > /dev/null 2>&1
sh /tmp/github/30-day-challenges-with-sql/challenges/utils/upgrade-sqlite3.sh > /dev/null 2>&1

Cloning into '30-day-challenges-with-sql'...

Neste desafio precisamos que seja feito uma operação de `UPDATE` na coluna `Customer.Company` onde o campo  `Customer.Company` nullo recebe o valor "xxxxxxxxxxxx"

Critério:  
Escreva essa transformação em apenas uma query. Boa sorte!

resultado esperado:  

|CustomerId|FirstName|LastName    |Company                                         |Address         
|---------:|--------:|------------:|-----------------------------------------------:|----------------
|         1|Luís     |Gonçalves   |Embraer - Empresa Brasileira de Aeronáutica S.A.|Av. Brigadeiro F
|         2|Leonie   |Köhler      |xxxxxxxxxxxx                                    |Theodor-Heuss-St
|         3|François |Tremblay    |xxxxxxxxxxxx                                    |1498 rue Bélange
|         4|Bjørn    |Hansen      |xxxxxxxxxxxx                                    |Ullevålsveien 14
|         5|František|Wichterlová |JetBrains s.r.o.                                |Klanova 9/506   
|         6|Helena   |Holý        |xxxxxxxxxxxx                                    |Rilská 3174/6   
|         7|Astrid   |Gruber      |xxxxxxxxxxxx                                    |Rotenturmstraße 
|         8|Daan     |Peeters     |xxxxxxxxxxxx                                    |Grétrystraat 63 
|         9|Kara     |Nielsen     |xxxxxxxxxxxx                                    |Sønder Boulevard
|        10|Eduardo  |Martins     |Woodstock Discos                                |Rua Dr. Falcão F
|        11|Alexandre|Rocha       |Banco do Brasil S.A.                            |Av. Paulista, 20
|        12|Roberto  |Almeida     |Riotur                                          |Praça Pio X, 119

Na célula onde se encontra o `%%sql`, escreva sua query, sem deletar o comando. Exemplo:  
```python
%%sql
select * from Customer
```

Para resolução utilize esse link: https://www.tutlane.com/tutorial/sqlite

In [2]:
%load_ext sql
%sql sqlite://///tmp/github/30-day-challenges-with-sql/challenges/utils/db/database.db3

'Connected: @//tmp/github/30-day-challenges-with-sql/challenges/utils/db/database.db3'

explicação da implementação do código
....

In [8]:
%%sql
--Execução do update
update customer
set company = 'xxxxxxxxxxxx'
where company is null

 * sqlite://///tmp/github/30-day-challenges-with-sql/challenges/utils/db/database.db3
Done.

[]

In [9]:
%%sql
--Consulta do resultado confome o "Resultado esperado" do enunciado
select CustomerId, FirstName, LastName, Company, Address from Customer
limit 12

 * sqlite://///tmp/github/30-day-challenges-with-sql/challenges/utils/db/database.db3
Done.

[(1, 'Luís', 'Gonçalves', 'Embraer - Empresa Brasileira de Aeronáutica S.A.', 'Av. Brigadeiro Faria Lima, 2170'),
 (2, 'Leonie', 'Köhler', 'xxxxxxxxxxxx', 'Theodor-Heuss-Straße 34'),
 (3, 'François', 'Tremblay', 'xxxxxxxxxxxx', '1498 rue Bélanger'),
 (4, 'Bjørn', 'Hansen', 'xxxxxxxxxxxx', 'Ullevålsveien 14'),
 (5, 'František', 'Wichterlová', 'JetBrains s.r.o.', 'Klanova 9/506'),
 (6, 'Helena', 'Holý', 'xxxxxxxxxxxx', 'Rilská 3174/6'),
 (7, 'Astrid', 'Gruber', 'xxxxxxxxxxxx', 'Rotenturmstraße 4, 1010 Innere Stadt'),
 (8, 'Daan', 'Peeters', 'xxxxxxxxxxxx', 'Grétrystraat 63'),
 (9, 'Kara', 'Nielsen', 'xxxxxxxxxxxx', 'Sønder Boulevard 51'),
 (10, 'Eduardo', 'Martins', 'Woodstock Discos', 'Rua Dr. Falcão Filho, 155'),
 (11, 'Alexandre', 'Rocha', 'Banco do Brasil S.A.', 'Av. Paulista, 2022'),
 (12, 'Roberto', 'Almeida', 'Riotur', 'Praça Pio X, 119')]