
# Por favor tente resolver o desafio sozinho, não pegue atalhos, tu consegue, é só colocar a cabeça para funcionar.

Execute a célula abaixo apenas uma vez.

In [67]:
%%bash

rm -rf /tmp/github; mkdir -p /tmp/github; cd /tmp/github
git clone https://github.com/romeritomorais/30-day-challenges-with-sql.git
sh /tmp/github/30-day-challenges-with-sql/challenges/utils/install-miniconda.sh > /dev/null 2>&1
sh /tmp/github/30-day-challenges-with-sql/challenges/utils/update-miniconda.sh > /dev/null 2>&1

Cloning into '30-day-challenges-with-sql'...

Nesse desafio eu preciso apenas de campos numericos dos dados da coluna `Customer.PostalCode` de 8 posições e do tipo inteiro.


resultado esperado:  

|CustomerId|Address                        |State|Country|Postal_Code
|----------:|------------------------------:|----:|------:|----------
|         1|Av. Brigadeiro Faria Lima, 2170|SP   |Brazil |   12227000
|        12|Praça Pio X, 119               |RJ   |Brazil |   20040020
|        13|Qe 7 Bloco G                   |DF   |Brazil |   71020677
|        20|541 Del Medio Avenue           |CA   |USA    |   94040111

Na celula onde tem `%%sql` tu vai escrever a query abaixo dela, exemplo:  
```python
%%sql
select * from Customer
```

Para resolução tu podes usar a documentação do sqlite:https://www.sqlite.org/docs.html

In [68]:
%load_ext sql
%sql sqlite://///tmp/github/30-day-challenges-with-sql/challenges/utils/db/database.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: @//tmp/github/30-day-challenges-with-sql/challenges/utils/db/database.db'

In [70]:
%%sql
--Utilizei a função replace para retirar o '-' e a regexp para identificar 8 caracteres numéricos
select CustomerId, Address, State, Country, replace(PostalCode,'-','') as Postal_Code from Customer
where replace(PostalCode,'-','') regexp '^[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]$'

 * sqlite://///tmp/github/30-day-challenges-with-sql/challenges/utils/db/database.db
Done.

[(1, 'Av. Brigadeiro Faria Lima, 2170', 'SP', 'Brazil', '12227000'),
 (10, 'Rua Dr. Falcão Filho, 155', 'SP', 'Brazil', '01007010'),
 (11, 'Av. Paulista, 2022', 'SP', 'Brazil', '01310200'),
 (12, 'Praça Pio X, 119', 'RJ', 'Brazil', '20040020'),
 (13, 'Qe 7 Bloco G', 'DF', 'Brazil', '71020677'),
 (20, '541 Del Medio Avenue', 'CA', 'USA', '94040111')]