# Por favor tente resolver o desafio sozinho, não pegue atalhos, tu consegue, é só colocar a cabeça para funcionar.

Execute a célula abaixo apenas uma vez.

In [1]:
%%bash

rm -rf /tmp/github; mkdir -p /tmp/github; cd /tmp/github
git clone https://github.com/romeritomorais/30-day-challenges-with-sql.git
sh /tmp/github/30-day-challenges-with-sql/challenges/utils/install-miniconda.sh > /dev/null 2>&1
sh /tmp/github/30-day-challenges-with-sql/challenges/utils/update-miniconda.sh > /dev/null 2>&1
sh /tmp/github/30-day-challenges-with-sql/challenges/utils/upgrade-sqlite3.sh > /dev/null 2>&1

Cloning into '30-day-challenges-with-sql'...

Neste desafio precisamos que seja criado uma `VIEW`com as colunas `AlbumId,Title,ArtistId` da tabela `Album`

Critério:  
Escreva essa transformação em apenas uma query. Boa sorte!

resultado esperado:  

|AlbumId|Title                                                          |ArtistId                     
|------:|--------------------------------------------------------------:|-------
|      1|For Those About To Rock We Salute You                          |       1                        
|      2|Balls to the Wall                                              |       2                       
|      3|Restless and Wild                                              |       2                         
|      4|Let There Be Rock                                              |       1                          
|      5|Big Ones                                                       |       3                      
|      6|Jagged Little Pill                                             |       4              
|      7|Facelift                                                       |       5                
|      8|Warner 25 Anos                                                 |       6           
|      9|Plays Metallica By Four Cellos                                 |       7                   
|     10|Audioslave                                                     |       8                     
|     11|Out Of Exile                                                   |       8                     
|     12|BackBeat Soundtrack                                            |       9                     

Na célula onde se encontra o `%%sql`, escreva sua query, sem deletar o comando. Exemplo:  
```python
%%sql
select * from Customer
```

Para resolução utilize esse link: https://www.tutlane.com/tutorial/sqlite

In [2]:
%load_ext sql
%sql sqlite://///tmp/github/30-day-challenges-with-sql/challenges/utils/db/database.db3

'Connected: @//tmp/github/30-day-challenges-with-sql/challenges/utils/db/database.db3'

explicação da implementação do código
....

In [9]:
%%sql
--Criação da view e select para visualização da mesma logo abaixo
create view if not exists vw_title_artist 
as
select 
  AlbumId,
  Title,
  ArtistId
from Album;

select * from vw_title_artist
limit 12;

 * sqlite://///tmp/github/30-day-challenges-with-sql/challenges/utils/db/database.db3
Done.
Done.

[(1, 'For Those About To Rock We Salute You', 1),
 (2, 'Balls to the Wall', 2),
 (3, 'Restless and Wild', 2),
 (4, 'Let There Be Rock', 1),
 (5, 'Big Ones', 3),
 (6, 'Jagged Little Pill', 4),
 (7, 'Facelift', 5),
 (8, 'Warner 25 Anos', 6),
 (9, 'Plays Metallica By Four Cellos', 7),
 (10, 'Audioslave', 8),
 (11, 'Out Of Exile', 8),
 (12, 'BackBeat Soundtrack', 9)]