# Por favor tente resolver o desafio sozinho, não pegue atalhos, tu consegue, é só colocar a cabeça para funcionar.

Execute a célula abaixo apenas uma vez.

In [1]:
%%bash

rm -rf /tmp/github; mkdir -p /tmp/github; cd /tmp/github
git clone https://github.com/romeritomorais/30-day-challenges-with-sql.git
sh /tmp/github/30-day-challenges-with-sql/challenges/utils/install-miniconda.sh > /dev/null 2>&1
sh /tmp/github/30-day-challenges-with-sql/challenges/utils/update-miniconda.sh > /dev/null 2>&1

Cloning into '30-day-challenges-with-sql'...

Neste desafio precisamos que agrupe os dados da tabela `Invoice` e exiba apenas os maiores valores para cada `Customer.CustomerId` do "Brazil". Utilize funções como: `ROW_NUMBER e PARTITION` para resolver este problema.

Critério:  
Escreva essa transformação em apenas uma query. Boa sorte!

resultado esperado:  

|CustomerId|FirstName|LastName |country|total
|----------:|--------:|--------:|------:|----
|         1|Luís     |Gonçalves|Brazil |13.86
|        10|Eduardo  |Martins  |Brazil |13.86
|        11|Alexandre|Rocha    |Brazil |13.86
|        12|Roberto  |Almeida  |Brazil |13.86
|        13|Fernanda |Ramos    |Brazil |13.86

Na célula onde se encontra o `%%sql`, escreva sua query, sem deletar o comando. Exemplo:  
```python
%%sql
select * from Customer
```

Para resolução utilize a documentação do sqlite:https://www.sqlite.org/docs.html

In [2]:
%load_ext sql
%sql sqlite://///tmp/github/30-day-challenges-with-sql/challenges/utils/db/database.db

'Connected: @//tmp/github/30-day-challenges-with-sql/challenges/utils/db/database.db'

In [6]:
%%sql
--Identificando o conteúdo da tabela Invoice
select * from Invoice
limit 2

 * sqlite://///tmp/github/30-day-challenges-with-sql/challenges/utils/db/database.db
Done.

[(1, 2, '2007-01-01 00:00:00', 'Theodor-Heuss-Straße 34', 'Stuttgart', None, 'Germany', '70174', 1.98),
 (2, 4, '2007-01-02 00:00:00', 'Ullevålsveien 14', 'Oslo', None, 'Norway', '0171', 3.96)]

In [7]:
%%sql
--Identificando o conteúdo da tabela Customer
select * from customer
limit 2

 * sqlite://///tmp/github/30-day-challenges-with-sql/challenges/utils/db/database.db
Done.

[(1, 'Luís', 'Gonçalves', 'Embraer - Empresa Brasileira de Aeronáutica S.A.', 'Av. Brigadeiro Faria Lima, 2170', 'São José dos Campos', 'SP', 'Brazil', '12227-000', '+55 (12) 3923-5555', '+55 (12) 3923-5566', 'luisg@embraer.com.br', 3),
 (2, 'Leonie', 'Köhler', None, 'Theodor-Heuss-Straße 34', 'Stuttgart', None, 'Germany', '70174', '+49 0711 2842222', None, 'leonekohler@surfeu.de', 5)]

In [9]:
%%sql
--Criando subquery que atenda os pedidos do problema
select customerid, max(total) from invoice
group by customerid
limit 2

 * sqlite://///tmp/github/30-day-challenges-with-sql/challenges/utils/db/database.db
Done.

[(1, 13.86), (2, 13.86)]

In [11]:
%%sql
--Criação do select utilizando a subquery
select 
  cm.CustomerId,
  cm.FirstName,
  cm.LastName,
  cm.country,
  maice.total
from customer cm
join (select customerid, max(total) as total from invoice
group by customerid) maice on cm.customerid = maice.customerid
where cm.country = 'Brazil'

 * sqlite://///tmp/github/30-day-challenges-with-sql/challenges/utils/db/database.db
Done.

[(1, 'Luís', 'Gonçalves', 'Brazil', 13.86),
 (10, 'Eduardo', 'Martins', 'Brazil', 13.86),
 (11, 'Alexandre', 'Rocha', 'Brazil', 13.86),
 (12, 'Roberto', 'Almeida', 'Brazil', 13.86),
 (13, 'Fernanda', 'Ramos', 'Brazil', 13.86)]